$pink: #f56991;
$dark-grey: #777;
$text-color: #ddd;

nav#main-nav {
  margin-bottom: 40px;
  padding: 20px;
  color: $text-color;

  span.pink {
    color: $pink;
  }

  i.description {
    color: $dark-grey;
    font-size: 10px;
  }

  a {
    color: white;

    &:hover {
      text-decoration: none;
      font-weight: bold;
    }
  }
}

input[type='submit'] {
  margin-top: 40px;
}

.text-right {
  text-align: right;
}

.spacing-bottom {
  margin-bottom: 30px;
}

button.button {
  padding-right: 10px;
}
